**/*.gradle
**/*.settings
**/bin
**/ui
**/*.metadata
**/*.prefs
**/Makefile
**/Makefile.in
**/configure
**/build
*.m4
**/libtool
**/config.log
**/config.status
**/config.sub
**/config.guess
*.exe
*.o
*.class
*.swp
*.la
*.lai
*.Plo
*.obj
*.lo
*.so
*.pro.user
*.user
*.pyc
**/*wrap.c
**/*wrap.cxx
**/*wrap.h
**/.libs
**/include/config.h.in
**/include/config.h
**/include/stamp-h1
**/configure.lineno
**/autom4te.cache/
.dirstamp
.classpath
.project
.gradle
**/gen
timestamp
jpista.jar
jpista.dll
jpistax.jar
jpistax.dll
pista-core/ltmain.sh
pista-core/pista.pc
doc/c_c++/doxygen
doc/java/doxygen
doc/doxygen
doc/working
/bin/
#Ignore build files
build.ninja
rules.ninja
Makefile
config.h
config.log
config.status
libtool
stamp-h1
output/
win32port/ipch/
win32port/Debug*/
win32port/Release*/
win32port/server/Debug*/
win32port/server/Release*/
win32port/client/Debug*/
win32port/client/Release*/
win32port/libwebsocketswin32/Debug*/
win32port/libwebsocketswin32/Release*/
win32port/zlib/Debug*/
win32port/zlib/Release*/
pista-bindings/java/gen/
*.ninja_deps
*.ninja_log
*.cmake
*.dll
*.dll.a
lib*.a
*.vcxproj.user
*.opensdf
*.sdf
*.suo
*.su
*.m4
missing
depcomp
install-sh
configure
compile
config.guess
*~
*.orig
autom4te.cache/
ltmain.sh
config.sub
ar-lib
libwebsockets.pc
libpistacxx.pc
CMakeFiles/
CMakeCache.txt
deps/*.gz
deps/*.zip
deps/openssl-1.1.1/
deps/protobuf-3.6.1/
deps/protobuf-c/
deps/libwebsockets/
# curl-7.61.1
