/.settings/
**/.gradle/
**/.settings/
**/build/
**/bin/
**/*.metadata/

# C++ objects and libs

*.lck
*.log
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
.~lock*
*.swp

# files from avr-gcc

*.bin
*.elf
*.hex
*.lst
*.map
*.srec

.classpath
.project

/doc/javadoc
/doc/doxygen

